#bootstrap {
    display: block;
    margin: 0 auto;
    background-image: linear-gradient(120deg, #f4ffe8 0%, #f4ffe7 100%);
    width: 1000px;
    border-radius: 30px;
    padding: 10px 10px;
  }
  
  body {
    margin: 50px auto;
    max-width: 80%;
    min-width: 920px;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  
  h4 {
    display: block;
    text-align: right;
    margin: 10px auto 30px;
    color: #0095f6;
  }
  header {
    text-align: center;
    font-weight: bold;
  }
  
  h1 {
    margin: 20px auto 30px;
    font-size: 45px;
    color: #0095f6;
  }
  
  h2 {
    margin: 0 auto 20px;
  }
  
  p {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #333333;
    font-weight: bold;
  }
  span {
    bottom: 32px;
    font-size: 25px;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  form {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
  }
  
  .current-temp {
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
  }
  
  .emoji {
    font-size: 60px;
  }
  
  .degrees {
    font-size: 50px;
    font-weight: bold;
  }
  
  .description {
    text-align: left;
    padding-left: 50px;
    padding-top: 15px;
    line-height: 2;
    font-size: 25px;
    font-weight: bold;
  }
  
  .card {
    text-align: center;
    font-weight: bold;
  }
  
  .card-day {
    padding-top: 10px;
    margin-bottom: 0;
    font-weight: 500;
    font-weight: bold;
  }
  
  .card-emoji {
    font-size: 40px;
    margin-bottom: 0;
  }
  
  .card-temp {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
  }
  
  .input-group {
    width: 60%;
    margin: 40px auto;
    font-weight: bold;
  }
  
  .btn {
    transition: all 50ms ease-in-out;
  }
  
  .hover:hover {
    opacity: 0.7;
  }
  